/* ================================
   GENERAL ELEMENT SELECTORS
================================= */

body {
  font-family: cursive;
  font-style: italic;
  font-variant: small-caps;
  color: #333333;
  background-color: #fde5c8cf;
}

h1,h2 {
  background: linear-gradient(
        18deg, 
        rgba(245, 79, 101, 0.563), 
        rgba(255, 201, 211, 0.792),
        rgba(245, 79, 101, 0.563)
    );
  color: rgb(255, 255, 255);
  padding: 0.5em;
  text-align: center;
  border-top: 0.1em solid #B25D6B;
  border-bottom: 0.1em solid #B25D6B;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

header {background-color: rgba(255, 201, 211, 0.792);}

p {margin: 1em;}

a {
  font-size: 1em;
  margin: 0.5em;
  color: #333333;
  text-decoration: none;
}

a:hover {color: rgba(255, 119, 137, 0.563);}

br{clear: left;}

img {
  margin: 1em;
  border: 0.5em solid #333333;
  width: 15em;
  height: 15em;
}

footer p {font-size: 0.8em;}


/* ================================
     CLASS SELECTORS
  ================================= */

.intro {font-weight: bold;}

.PS {
  font-weight: bold;
  font-stretch: condensed;
}

.Patterns {float: left;}

.img-float-left{
  float: left;
  margin: 2em;
}

.columnP{
  margin: 2em;
}




/* ================================
     ID SELECTORS
  ================================= */

  


/* ================================
     NAVIGATION STYLES (.nav)
  ================================= */

.nav h2 {
  font-size: 2em;
  font-weight: bolder;
  background-color: none;
  border-top: .1em solid rgb(0, 0, 0);
  border-bottom: none;
  padding: 1em;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: .5em;
  margin: 0;
  border-bottom: 0.2em solid #000000;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: large;

}

.nav a:hover {color: #FAF1E6;}

.mainColumn{
  float: left;
  width: 50%;
}


.asideColumn{
  float: right;
  width: 45%;
}

.asideColumn h2{
  border: 0.1em solid #B25D6B;
}

.mainColumn h2{
  border: 0.1em solid #B25D6B;
}