/* ================================
   GENERAL ELEMENT SELECTORS
================================= */

body {
  font-family: "Sour Gummy", sans-serif;
  font-style: italic;
  font-size: 25px;
  font-variant: small-caps;
  letter-spacing: 1px;
  color: #333333;
  background-color: #fde5c8cf;
  margin-left: 0em;
  margin-right: 0em;
}

h1,
h2 {
  background: linear-gradient(18deg,
      rgba(245, 79, 101, 0.563),
      rgba(255, 198, 208, 0.792),
      rgba(245, 79, 101, 0.563));
  color: #9E2A2B;
  padding: 0.5em;
  text-align: center;
  border-top: 0.1em solid #B25D6B;
  border-bottom: 0.1em solid #B25D6B;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}


header {
  background-color: rgba(255, 201, 211, 0.792);
}

p {
  margin: 1em;
  text-align: left;
}

a {
  font-size: 1em;
  margin: 0.5em;
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 119, 137, 0.563);
}

br {
  clear: left;
}

img {

  border: 0.5em solid #333333;
  max-width: 30em;
  max-height: 30em;
  min-width: 10em;
  min-height: 10em;

}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
  margin-left: .5em;
}

ol li {
  counter-increment: item;
  position: relative;
  padding-left: 1.7em;
  margin-bottom: 0.2em;
}

ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  width: 2em;
  text-align: left;
}

footer p {
  font-size: 0.8em;
}

/* ================================
           ID SELECTORS
  ================================= */

#logo_img {
  border: none;
  height: 1.5em;
  width: 1.5em;
  min-width: 1em;
  min-height: 1em;
}

#logo_container {
  display: flex;
  align-items: center;
}

/* ================================
           CLASS SELECTORS
  ================================= */

.PS {
  font-weight: bold;
  font-stretch: condensed;
}

.Patterns {
  float: left;
}

.img-float-left {
  float: left;
  margin: 2em;
  max-width: 240px;
  max-height: 240px;
}

.columnP {
  margin: 2em;
}

.scale_img {
  border-radius: 3em;
  width: auto;
  max-width: 90%;
  height: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-left: 1em;
}

.a_margin{
  margin:0.5em;
}



/* ================================
       GRID LAYOUT (Home page)
  ================================= */
.GridLayout {
  display: grid;
  gap: 1em;


  grid-template-columns: 1fr 3fr;
  grid-template-rows: .2fr repeat(8, 1fr);
  grid-template-areas:
    "hdr hdr"
    "im1 pg1"
    "im2 pg2"
    "im3 pg3"
    "im4 pg4"
    "im5 pg5"
    "im6 pg6"
    "im7 pg7"
    "im8 pg8"
  ;
}

#hdr {
  grid-area: hdr;
}

#img1 {
  grid-area: im1;
}

#img2 {
  grid-area: im2;
}

#img3 {
  grid-area: im3;
}

#img4 {
  grid-area: im4;
}

#img5 {
  grid-area: im5;
}

#img6 {
  grid-area: im6;
}

#img7 {
  grid-area: im7;
}

#img8 {
  grid-area: im8;
}

#p1 {
  grid-area: pg1;
}

#p2 {
  grid-area: pg2;
}

#p3 {
  grid-area: pg3;
}

#p4 {
  grid-area: pg4;
}
#p5 {
  grid-area: pg5;
}

#p6 {
  grid-area: pg6;
}

#p7 {
  grid-area: pg7;
}

#p8 {
  grid-area: pg8;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8,
#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8
 {
  padding: 0em;
  margin: .55em;
  border: .3em double #B25D6B;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8 {
  padding: 2em;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8 {
  height: 90%;
}

/* ======================================
     NAVIGATION STYLES (.nav) (flexbox)
  ======================================= */

.nav h2 {
  font-size: 2em;
  font-weight: bolder;
  background-color: none;
  border-top: .1em solid rgb(0, 0, 0);
  border-bottom: none;
  padding: 1em;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: .5em;
  margin: 0;
  border-bottom: 0.2em solid #000000;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;


}

.nav a:hover {
  color: #FAF1E6;
}

/* ====================================================
     Two Coulumn Selectors (Materials Page)(flexbox)
  =====================================================*/


.container {
  display: flex;
  flex-direction: row;
  gap: 3em;
  padding: 1em 1em;
}

.container img {
  align-self: center;
}

.mainColumn {
  flex: 1;
}

.asideColumn {
  flex: 1;
}

.asideColumn h2, .mainColumn h2 {
  border: 0.1em solid #B25D6B;
}

  .asideColumn p,
  .mainColumn p {
    text-align: center;
  }


/* ================================
            Media Queries
  ================================= */
@media only screen and (max-width:978px) {
  .GridLayout {
    display: block;
    text-align: center;
  }

  #img1,
  #img2,
  #img3,
  #img4,
  #img5,
  #img6,
  #img7,
  #img8
   {
    display: inline-block;
    max-height: none;
  }

  #p1,
  #p2,
  #p3,
  #p4,
  #p5,
  #p6,
  #p7,
  #p8{
    border-radius: 3em;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    padding: 0em;
  }


  .asideColumn h2,
  .mainColumn h2 {

    margin: 0em;
    border-right: none;
    border-left: none;
  }


}

@media only screen and (max-width: 705px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 654px) {
  .mainColumn {
    text-align: center;
  }

  .mainColumn img {
    float: none;

    text-align: center;
  }
}

/*
  two flex containers
  at least one grid component or layout
  no more under construction
  media queries to fix webpages
 comments
*/